* {
    margin: 0;
    padding: 0;
}

.ns {
    background-color: #1d1c1c;
    color: white;
    width: 100%;
    line-height: 20px;
    font-size: 20px;
    font-language-override: initial;
    display: block;
}
.epa {
    background-color: whitesmoke;
    color: black;
    width: 100%;
    font-size: 15px;
    font-language-override: normal;
}

    table{
    width: 90%;
    border-spacing: 0;
}

    table tbody td  {
    border-top: 2px solid #747070;
    padding: 10px;
}

    table tbody td :nth-child(2n+1){
    background-color: whitesmoke(202, 197, 197);
    font: white;
}

table pre h {
    font-size: 10px;
}